* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: url('./sky.jpg');
  background-size: cover;
  background-position: bottom;
}

.App-cold {
  background: url('./mountains.jpg');
  background-size: cover;
  background-position: bottom;
}

.main {
  min-height: 100vh;
  padding: 25px;
}

.container {
  height: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.widget {
    text-align: center;
}

.widget .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.widget .description {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.text {
  text-align: start;
}

.date {
  font-size: 15px;
  font-weight: 700;
  color: rgb(73, 73, 73);
}

.location {
  color: #FFF;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  align-self: flex-start;
}

.extras {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feels {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 30px;
  font-weight: 900;

  text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.humidity {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 30px;
  font-weight: 900;

  text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.wind {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 30px;
  font-weight: 900;

  text-shadow: 2px 4px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.search { 
  padding-top: 3%;
}

.App input {
  padding: .7rem 1.5rem;
  font-size: 1rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}
